@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  /* font-size: 18px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

/* .fc-daygrid-day-frame:hover {
  background-color: lightblue;
  cursor: pointer;
} */

.fc .fc-toolbar.fc-header-toolbar {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0.8em;
}

/* buttons */
.fc .fc-button-primary,
.fc .fc-button-primary:hover,
.fc .fc-button-primary:disabled {
  border-color: #d4d4d4;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
}

.fc-toolbar-title {
  font-size: 2.2rem !important;
  font-weight: 500;
}

.fc-day-grid {
  overflow: hidden !important;
  height: auto !important;
}

.fc-col-header-cell {
  font-weight: normal;
}

/* .fc-event-title-container { */
.fc-event-title-container {
  cursor: pointer;
  line-height: 2rem;
  font-size: 1.2rem;
  /* font-weight: 500; */
  text-wrap: wrap;
  word-break: break-all;
}

.fc-unthemed td.fc-today {
  /* background-color: transparent; */
  background: transparent;
}

.fc-day-number {
  /* font-size: 85%; */
  padding: 0 2px 0 0 !important;
}

.fc-left > h2 {
  font-size: 1.5rem;
  color: black;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent;
}

.fc-daygrid-day-number {
  /* margin-top: 2px; */
  margin-right: 2px;
}

.fc-day-today .fc-daygrid-day-number {
  color: #fff;
  width: 33px;
  height: 33px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 500;
  background: #fc3d39;
  border-radius: 100%;
}

.fc-event-selected {
  border: 2px solid balck !important;
}

.fc-event {
  /* width: 50%; */
  border-radius: 4px;
  text-align: center;
  border: 2px solid transparent;
  /* font-size: 1.2rem; */
  /* line-height: 24px; */
}

.fc-event,
.fc-event-dot {
  color: #000;
  border-color: transparent;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0.3em;
}

.btn {
  @apply text-white text-center inline-block font-semibold rounded-md px-3 py-2 cursor-pointer;
}

.btn-black {
  @apply btn bg-black;
}

.btn-blue {
  @apply btn bg-blue-600;
}

.btn-red {
  @apply btn bg-red-600;
}

.btn-gray {
  @apply btn bg-neutral-200 !text-black;
}

.btn-disabled {
  @apply btn !text-neutral-400 !bg-neutral-100 opacity-90 !cursor-not-allowed;
}

/* button:disabled {
  @apply btn !text-neutral-400 !bg-neutral-100 opacity-90 !cursor-not-allowed;
} */
